/* Homepage styles */
.canva{ 
  background-color: black;
  color: white;  
  width: 100%;
  height: 100vh;
 
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: black;
}
/* Navbar styles */
.navbar{
  width: 100%;
  min-height: 4em;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100%;
  border-bottom: 1px white solid;

}

.brick{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  color: white;
  text-decoration: none;
}



.Forms-homepage
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
}



form{
  width: 40%;
  display: flex;
  justify-content: left;  
  flex-direction: column;
  align-items: left;
  gap: 1em;
}

.input-email,.input-passwords{
  padding: 1em;
  background-color: black;
  border: none;
  width: 60%;
  height: 2em;
  font-size: 1em;
  letter-spacing: 3px;
  transition: all ease 1.5s;
  border-bottom: 1px solid white;
  color: white;
}

.input-email::placeholder,.input-passwords::placeholder{
  color:white;
  font-weight: bold; 
}
.input-email:focus,.input-passwords:focus{
  outline: none;
  width: 90%;
  border-bottom: 1px white solid;
  color: white;
}

.btn,.btn-forms{
  background-color: red;
  min-width: 2em;
  color:white;
  max-width: 7em;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 1em;
  border: none;
  padding: 0.5em;
  transition: all ease-in-out 0.3s;
  letter-spacing: 3px;
}
.btn-forms{
 color: white;
}

.btn:hover,.btn-forms:hover{
  transform: scale(0.95);
  cursor: pointer;
  border: 1px solid white;
  background-color: black;
  color: white;
}


.label-forms{
  font-size: 24px;
  color: white;
  font-weight: bold;
}



.forgot-password{
  text-decoration: none;
  color: re;
  transition: all 0.3s ;
}
.forgot-password:hover{
  color: white;
}
@media screen and (max-width:670px){
.navbar{
  grid-template-columns: 100%;
  grid-template-rows: 4em 4em 4em 4em;
}
form{
width: 80%;
}
  
}




