
.input-email,.input-passwords{
    padding: 1em;
    background-color: black;
    border: none;
    width: 60%;
    height: 2em;
    font-size: 1em;
    letter-spacing: 3px;
    transition: all ease 1.5s;
    border-bottom: 1px solid white;
    color: red;
  }
  
  .input-email::placeholder,.input-passwords::placeholder{
    color:red;
    font-weight: bold; 
  }
  .input-email:focus,.input-passwords:focus{
    outline: none;
    width: 90%;
    border-bottom: 1px red solid;
    color: red;
  }

  .registration-page{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    background-color: black;
  }
  .box-two{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
